body {
    font-family: sans-serif;
    border-radius: 5px;
    max-width: 1600px;
    margin: 0 auto;
}

.App {
    max-width: 1200px;
    margin: 30px auto;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 8px;
}

.searchButton {
    background-color: #7294E9;
    border-radius: 8px;
    padding: 4px 20px;
    font-family: sans-serif;
    margin-left: -35px;
}

p {
    font-weight: bold;
}

.app-logo {
    border-radius: 8px;
}

form {
    margin-right: 120px;
}

