body {
    font-family: sans-serif;
    border-radius: 8px;
    max-width: 1600px;
    margin: 0 auto;
}

.App {
    max-width: 1200px;
    margin: 30px auto;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 8px;
}

.searchButton {
    background-color: #7294E9;
    border-radius: 8px;
    padding: 6px 24px;
    font-family: sans-serif;
}

p {
    font-weight: bold;
}

.app-logo {
    border-radius: 8px;
}

