.search-btn {
    background-color: #7294E9;
    font-family: sans-serif;
    margin-left: -35px;
    border-color: #7294E9;
    color: white;
}

.search-btn:hover {
    background-color: white;
    color:#7294E9;

}

.main-search {
    margin-top: -100px;
    margin-bottom: 200px;
}

.learn-more {
    background-color: #7294E9;
    border-color: #7294E9;
}

.learn-more:hover {
    background-color: white;
    color: #7294E9;
    border-color: #7294E9;
}